form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 0 auto; /* Center the form */
}

h1 {
    color: #555555;
}

p {
    color: #555555;
}

label {
    color: #555555;
    display: block;
    margin-bottom: 5px;
}

select,
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding is included in width */
}

button {
    color: #fff;
    background-color: #7a82d6f1;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make button full width on mobile */
    box-sizing: border-box; /* Ensure padding is included in width */
}

button:hover {
    background-color: #5861ff;
}

@media (max-width: 600px) {
    form {
    padding: 15px;
    }

    button {
    padding: 10px;
    }
}