/* old css */
/* .confirm-text {
    margin-top: 1%;
    font-size: 1.5rem;
    color: #000000;
}
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    text-align: center;
    color: #000000;
    padding: 1rem 0;
} */
.main {
    margin-left: 160px;
    padding: 0px 10px;
}

.confirm-text {
    font-size: 1.5rem;
    color: #000000;
    padding-top: 60px;
}
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    height: 100vh;
    overflow:auto;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    text-align: center;
    color: #000000;
}