<!DOCTYPE html>
{% extends "index.html" %}
{% block title %}404-page{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/404.css">

<body>
  <div class="error">
    <p>Page not found</p>
    <h1>404</h1>
    <p>Oops! The page you are looking for cannot be found or is not finsished yet!</p>
    <p style="font-size: smaller;">Check the URL and try again, or go back to the homepage.</p>
    <p><a href="/">Go back to the homepage</a></p>
  </div>
  <footer>
    <p>Footer content here</p>
  </footer>
</body>

{% endblock %}
